* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-light-able {
    padding: 16px 24px;

}

.header-light-able a {
    text-decoration: none;
}

.li-able-span {
    font-size: 0.70rem;
    background-color: #9e8dd4;
    color: #fff;
    padding: 2px 5px;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 5px;
}

.navigation-ul label{
    font-size: 12px;
    font-weight: 600;
    list-style: none;
    color: #39465f;
}

.pc-navbar {
    border-radius: 10px;
    transition: 0.1s;
    padding: 14px 20px;
}

.pc-navbar:hover {
    opacity: 2;
    background-color: #f4f7fa;
}

 li {
  list-style: none;
}

.navbar-wrapper a {
    font-size: 14px;
    font-weight: 500;
    color: #39465f;
    text-decoration: none;
}

 a li {
    list-style: none;
}

 .pc-icon i {
    vertical-align: middle;
    font-weight: 500;
    font-size: 20px;
    margin-right: 14px;
    text-align: center;
    display: inline-block;
}

.dashboard-span-2 {
    float: right;
    background-color: #04a9f5;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
}

 .pc-badge {  
    padding-top: 4px;
    float: right;
}
 .pc-badge i{
    font-size: 14px;
}

.pc-navbar-alt{
    margin-left: 5px;
    border-left: 1px solid #dbe0e5;
}

.pc-navbar-alt-2{
    margin-left: 5px;
    border-left: 1px solid #dbe0e5;
}

.pc-navbar-alt li{
    padding-bottom: 20px;
}

.pc-navbar-alt .circle-span::before{
    content: "";
    top: 10px;
    left: 15px;
    margin-right: 14px;
    background-color: #dbe0e5;
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
}

.pc-navbar-alt .circle-span:hover::before{
    background-color: #04a9f5;
}